{%extends 'base.html'  %}
 {% block body %}
 <div class="container">
   <h1>get ads</h1>
   <br>
   <form method="post" action="" enctype="multipart/form-data">
     <input type="number" placeholder="user id" name="user_id">
     <input type="number" placeholder="ad id" name="adID">
     <input type="number" placeholder="rating" name="rate">

     <input type="submit" name="submit" value="submit">
   </form>
   {% if error %}
     <p class="error"><strong>Error:</strong> {{ error }}
   {% endif %}
 </div>
{% endblock %}
