<!DOCTYPE html>
<html>
<head>
<title>index</title>
<link href="/static/css/signup.css" rel="stylesheet">

</head>
<body>
<p>Welcome to flask app</p>
<a class="a_continer" href="/welcome"><div style="width:200px;height:200px;border:1px solid black;background:grey;">Welcome</div></a>
<a class="a_continer" href="/showsignup"><div style="width:200px;height:200px;border:1px solid black;background:red;">showsignup</div></a>
<a class="a_continer" href="/cookie"><div style="width:200px;height:200px;border:1px solid black;background:green;">cookie</div></a>
<a class="a_continer" href="/login"><div style="width:200px;height:200px;border:1px solid black;background:yellow;">login</div></a>
</body>
</html>
