<!DOCTYPE html>
<html>
<head>
<title>index</title>
<link href="/static/css/signup.css" rel="stylesheet">

</head>
<body>
<p>Welcome to flask app</p>
<div class="list">
<div class="a_continer" style="background:grey;">   <a href="/welcome" >Welcome</a>       </div>
<div class="a_continer" style="background:red;">    <a href="/showsignup" >showsignup</a> </div>
<div class="a_continer" style="background:green;">  <a href="/cookie" >cookie</a>         </div>
<div class="a_continer" style="background:yellow;"> <a href="/login" >login</a>           </div>
</div>
</body>
</html>
