<!DOCTYPE html>
<html>
<head>
<title>index</title>
<link href="/static/css/signup.css" rel="stylesheet">

</head>
<body>
<p>Welcome to flask app</p>
<div class="list">
<div class="a_continer" style="background:grey;">   <a href="/welcome" >Welcome</a></div>
<div class="a_continer" style="background:red;">    <a href="/signup" >Sign up</a></div>
<div class="a_continer" style="background:green;">  <a href="/cookie" >Cookie</a></div>
<div class="a_continer" style="background:yellow;"> <a href="/login" >Login</a></div>
<div class="a_continer" style="background:cyan;">   <a href="/users" >Users</a></div>
<div class="a_continer" style="background:orange;"> <a href="/feedback">feedback</a></div>
<div class="a_continer" style="background:pink;">   <a href="/init" >init</a></div>
<div class="a_continer" style="background:brown;">  <a href="/get_ads" >get_ads</a></div>
<div class="a_continer" style="background:rgb(153, 153, 102)	;">  <a href="/get_coupnon" >get coupnon</a></div>
</div>
</body>
</html>
