<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign up catwifi</title>
    <link href="//getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="//getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="/static/css/signup.css" rel="stylesheet">
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/signup.js"></script>
  <body>

      <div class="jumbotron">
        <h1>Blog App</h1>
        <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
         <input type="text" placeholder="Password" name="password" value="{{
          request.form.password }}">
          <input type="text" placeholder="Email" name="email" value="{{
                  request.form.email }}">
          <input type="text" placeholder="Gender" name="gender" value="{{
                 request.form.gender }}">
         <input type="text" placeholder="Mobile" name="mobile" value="{{
          request.form.mobile }}">
             <input type="text" placeholder="Birthday" name="birthday" value="{{
          request.form.birthday }}">
            <input type="text" placeholder="Image" name="image" value="{{
          request.form.image }}">

        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
      </form>
      </div>

      <footer class="footer">

      </footer>

    </div>
  </body>
</html>